body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
#header {
  background-color: #5c6bc0; /* Grey background */
  padding: 0px; /* Some padding */
  color: white;
  text-align: center; /* Centered text */
  font-size: 10px; /* Big font size */ 
  font-weight: bold; 
  position: fixed; /* Fixed position - sit on top of the page */
  top: 0; 
  width: 100%; /* Full width */
  font-family: 'Poiret One', cursive;
  opacity: 0.96;
}
#header a{
    color: white;
    text-decoration: none;
}
#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px 0px;
    background-color: #8e99f3;
    color: black;
    font-size: 30px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}
#footer p{
    margin:0px 0px;
    border:0px solid #5c6bc0;
    background-color: #5c6bc0;
    padding: 0px 15px;
    border-radius:30px;
    display:inline;
    text-align: center;
    font-family: 'Courgette', cursive;
}
#footer a{
        text-decoration: none;
        color: white;
    }
#footer i{
    margin-top: 4px;
    font-size: 25px;
}
.content{
    margin:30px 8px 60px 8px;
}